.Input {
    position: relative;
}

.Input-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #aaa;
    color: #269;
    font-size: 1rem;
    padding: 5px;
    transition: border-color .5s;
}

.Input-control:focus,
.Input-control:active {
    outline: none;
    border-color: #269;
}

.Input-label {
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 1rem;
    opacity: .5;
    pointer-events: none;
    transition: all .2s;
}

.Input-control:focus + .Input-label,
.Input-label_active {
    top: -5px;
    font-size: .8rem;
    opacity: 1;
}
