.Button {
    box-sizing: border-box;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: .7rem;
    background-color: #fff;
    border: 1px solid #269;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #333;
}

.Button_active {
    color: #fff;
    background-color: #226699;
}
